@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-gradient-to-br from-purple-600 via-purple-700 to-indigo-800;
    @apply font-sans text-gray-900;
  }
}
